@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}

a {
    text-decoration: none;
    display: block;
}

.wrap {
    width: 1200px;
    height: 885px;
}

header {
    width: 1200px;
    height: 285px;
    float: left;
    position: relative;
}

nav {
    width: 200px;
    height: 600px;
    background-color: #33333333;
    float: left;
    position: relative;
}

section {
    width: 1000px;
    height: 600px;
    background-color: #dbddf788;
    float: left;
}

.logo {
    text-align: center;
}

.logo img {
    /* logo 안에 있는 img (logo 포함)*/
    width: 180px;
    height: 80px;
}

.menu > li {
    /* .menu 안에 있는 li(.menu는 미포함) */
    width: 180px;
    height: 40px;
    background: #343477;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.menu > li > a {
    color: white;
}

.menu > li > a:hover {
    background-color: #fff;
    transition: 1.2s;
    /* 색갈이 느리게 들어옴*/
    color: aquamarine;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section h2 {
    text-align: center;
    margin: 40px 0 80px 0;
    font-size: 3em;
}

section p {
    background-color: beige;
    width: 800px;
    text-align: center;
    line-height: 50px;
    padding: 20px;
    font-size: 1.5em;
}

.mode {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    padding: 5px;
}

.mode label {
    color: white;
}
