@charset "UTF-8";

#container
{
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid red;
    font-family: 'Nanum Myeongjo', serif;
}

header
{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid green;
    background-color: #8cd98c;
}

a { color: #206020; }

section
{
    padding: 20px;
    width: 620px;
    margin-bottom: 20px;
    border: 1px solid gray;
    float: left;
}

aside
{
    width: 220px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    float: right;
    background-color: #d9d9d9;
}

footer
{
    padding: 20px;
    border: 1px solid gray;
    clear: both;
}

li { display: inline; }

li a { padding: 16px; }

table#t01 tr:nth-child(even) { background-color: #e6f0ff; }

table#t01 tr:nth-child(odd) { background-color: #99c2ff; }

table#t01 th
{
    background-color: #0000ff;
    color: white;
}

.flower 
{
    width: 100px;
    height: 100px;
    animation: flower 3s linear infinite;
}

@keyframes flower
{
    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(360deg); }
}
