.container
{
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
}

.subject
{
    font-weight: 700;
    font-size: large;
    color: #ad3000;
}

ul
{
    list-style: none;
}

li
{
    line-height: 2.0;
}
