/* css는 위에서 아래로 내려오면서 코드를 적용함 */

/* 태그 선택자 - 태그이름만 적으면 적용됨 */
p
{
    color: blue;
}

/* ID 선택자 - #아이디명 */
#tea
{
    color: red;
}

/* 클래스 선택자 - "."클래스명*/
.house
{
    color: green;
}

/* 자손 선택자 - 공백(띄어쓰기)로 구별 */
ul li 
{
    background-color: skyblue;
}

/* 전체 선택자 "*"을 사용함 */
*
{
    font-family: 궁서;
}

/* 자식 선택자 - ">"로 구별 */
ul>li>p
{
    font-weight: bold;
    color: yellow;
}

/* 인접한 태그 - "+"로 구별 */
h1+p
{
    font-family: 돋움;
    color: pink;
    background-color: green;
}

h1+p+p
{
    font-family: 굴림;
    color: hotpink;
}

/* <p>태그 중 클래스 속성을 가지고 있는 모든 것을 선택 */
p[class] 
{
    background-color: blueviolet;
    color: #fff;
}

/* 병렬구조 선택 - 똑같은 서식을 지정할 때는 ","로 구분해서  */
h1, h2, h3
{
    border-bottom: 1px solid #000;
}
