body {
    font-size: 14px;
    font-family: 돋움;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

table, tr, th, td {
    border: 1px solid #333;
    border-spacing: 0;
}

table {
    width: 800px;
    margin: 0 auto;
}

table caption {
    text-align: right;
}

table strong {
    color: red;
}

th, td {
    padding: 10px 15px;
}

table th {
    text-align: right;
}

.btn {
    float: right;
}
