@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #333;
}

a {
    display: block;
    text-decoration: none;
}

header {
    display: flex;
    height: 80px;
}

.logo {
    background: #33333333;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logo span  {
    color: snow;
    font-size: 24pt;
    font-weight: 900;
    font-family: "궁서체";
    /* transition-property: transform; */
    /* transition-duration: 1s; */
    /* transition-timing-function: ease-in-out; */
}

/*
.logo:hover span { transform: translateY(-10px); }

#t1 { transition: transform 0.5s ease-in-out; }
#t2 { transition: transform 0.5s ease-in-out 0.1s; }
#t3 { transition: transform 0.5s ease-in-out 0.2s; }
#t4 { transition: transform 0.5s ease-in-out 0.3s; }
#t5 { transition: transform 0.5s ease-in-out 0.4s; }
*/

#t1 { animation: logoWave 0.5s ease-in-out infinite alternate 0s; }
#t2 { animation: logoWave 0.5s ease-in-out infinite alternate 0.1s; }
#t3 { animation: logoWave 0.5s ease-in-out infinite alternate 0.2s; }
#t4 { animation: logoWave 0.5s ease-in-out infinite alternate 0.3s; }
#t5 { animation: logoWave 0.5s ease-in-out infinite alternate 0.4s; }

@keyframes logoWave {
    /* from { } - to { } */
    0% { }
    100% {
        transform: translateY(-10px);
    }
}

nav {
    background: black;
    width: 85%;
    position: relative;
    z-index: 1000;
}

.menu {
    display: flex;
    position: absolute;
    height: 30px;
    line-height: 30px;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

.menu > li > a {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: beige;
}

.menu > li > a:hover {
    background-color: blanchedalmond;
    color: chocolate;
    font-weight: bold;
}

.sub {
    display: none;
}

.sub>li>a {
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: honeydew;
}

.sub>li>a:hover {
    background-color: chocolate;
    color: blanchedalmond;
    font-weight: bold;
}

.slideWrap {
    height: 400px;
    overflow: hidden;
    animation: imgSlideMove 0.5s ease-in-out infinite alternate 0.5s;
}

.slideWrap li {
    position: relative;
    width: 100%;
    height: 400px;
}

.slideWrap img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@keyframes imgSlideMove {
    0% {}
    50% {
        transform: translateY(-400px);
    }

    100% {
        transform: translateY(-800px);
    }
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 25pt;
    font-weight: 900;
}