@charset "UTF-8";

/* CSS (Cascading Style Sheet) */
/* 선택자가 매우 중요함! */
/*  CSS 사용법
    선택자 {
        속성: 값;
        속성: 값;
        속성: 값;
    }
*/

/* CSS 우선 순위 */
* {
    font-family: "굴림";
}

h1 {
    font-family: "함초롬바탕";
}

.클래스 {
    font-family: "궁서";
}

#아이디 {
    font-family: "바탕";
}

* {
    margin: 0 auto;
}

img {
    display: block;
}
